<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="event-edit">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Crear Evento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
